* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(252, 253, 255);
    color: #000;
    font-family: "Avenir Next", Helvetica, Arial;
    text-align: center;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
}

header {
    background-color: #1E1D26;
    color: white;
}

header .wrapper {
    padding: 8px;
    text-align: center;
    min-height: 100px;
    display: block;
}

header a {
    text-decoration: none;
}

header .site-name {
    position: absolute;
    display: block;
    background-image: url("images/dark/headerLogo.svg");
    background-size: 200px 100px;
    top: 0px;
    width: 200px;
    height: 100px;
    font-size: 1.5em;
    color: rgba(0,0,0,0);
    font-weight: bold;
}

nav {
    position: relative;
    display: block;
    margin-top: 44px;
    margin-left: 200px;
    margin-right: 20px;
    text-align: right;
}

nav li {
    display: inline-block;
    margin: 0px 12px;
    line-height: 1.5em;
}

nav li a.selected {
    color: rgba(255, 255, 255, 0.7);
    background-color: black;
    padding: 4px 10px 3px 10px;
    margin: 0px -10px;
    border-radius: 6px;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

h2 {
    margin: 20px 0;
}

h2.blockquote {
    width: 50%;
    line-height: 1.4;
    margin-left: 10%;
}

p {
    margin-bottom: 10px;
}

a {
    color: inherit;
}

.description {
    margin-bottom: 40px;
}

.item-list > li {
    display: block;
    padding: 20px;
    border-radius: 20px;
    background-color: #eee;
    margin-bottom: 20px;
}

.item-list > li:last-child {
    margin-bottom: 0;
}

.item-list h1 {
    margin-bottom: 15px;
    font-size: 1.3em;
}

.item-list p {
    margin-bottom: 0;
}

.tag-list {
    margin-bottom: 15px;
}

.tag-list li,
.tag {
    display: inline-block;
    background-color: rgba(104, 72, 255, 1);
    font-family: ui-monospace, monospace;
    color: white;
    font-size: 0.7em;
    padding: 3px 6px 3px 6px;
    border-radius: 6px;
    margin-right: 5px;
}

.tag-list a,
.tag a {
    color: white;
    text-decoration: none;
}

.item-page .tag-list {
    display: inline-block;
}

.content {
    margin: 0px 10% 40px 10%;
    color: rgba(30, 20, 50, 1);
}

.content a {
    color: rgba(104, 72, 255, 1);
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: rgba(104, 72, 255, 0.2);
}

.tagSection {
    margin: 0px 10% 40px 10%;
    color: rgba(30, 20, 50, 1);
}

.content .audioPlayer {
    position: relative;
    display: block;
    margin: 16px auto 32px;
    width: 656px;
    height: 131px;
    border-radius: 8px;
}

.content .videoPlayer {
    position: relative;
    display: block;
    margin: 32px auto;
    width: 656px;
    height: 369px;
    border-radius: 8px;
}

.content p code,
.content li code,
.content pre {
    font-family: ui-monospace, monospace;
    background: #1E1D26;
    color: white;
}

.content p code,
.content li code {
    font-size: 0.85em;
    border-radius: 4px;
    padding: 3px 8px 3px;
}

.content pre {
    padding: 6px 8px 8px 8px;
    border-radius: 8px;
}

.content h2 {
    margin-top: 30px;
}

.content p {
    margin: 12px 0px 16px;
    line-height: 1.6;
}

.content p.metadata {
    font-style: italic;
    font-family: ui-monospace, monospace;
    margin: 16px 0px;
    font-size: 0.7em;
    color: rgba(30, 20, 50, 0.5 );
}

.content a {
    color: rgba()
}

.content ul,
.content ol {
    margin: 12px 0px 16px 32px;
    line-height: 1.6;
}

.content li {
    margin: 8px 0px;
    line-height: 1.6;
}

.content details summary {
    font-style: oblique;
    margin-bottom: 12px;
}

.content details div.details {
    padding: 8px 16px;
}

.content details blockquote {
    border-left: 4px solid rgba(30, 20, 50, 0.3);
    padding-left: 8px;
    color: rgba(30, 20, 50, 0.75);
    margin: 12px 16px;
    font-style: oblique;
    line-height: 1.4;
}

.subscribe {
    position: relative;
    display: block;
    margin: 8px auto;
    width: auto;
    vertical-align: top;
    text-align: center;
}

.subscribe .title {
    margin: 48px auto 12px;
    font-size: 1.6em;
}

.subscribe .app {
    display: inline-block;
    text-align: center;
    width: 80px;
    vertical-align: top;
}

.subscribe .app a {
    text-decoration: none;
}

.subscribe .app a:not([href]) {
    opacity: 0.2;
}

.subscribe .app a:not([href]) .icon {
    opacity: 0.2;
}

.subscribe .app .icon {
    display: block;
    width: 64px;
    height: 64px;
    margin: 0px auto 8px;
}

.browse-all {
    display: block;
    margin-bottom: 30px;
}

.all-tags li {
    font-size: 1.4em;
    margin-right: 10px;
    padding: 6px 10px;
}

footer {
    color: #8a8a8a;
}

.wrapper.convertkit form {
    margin: 10px auto;
}

/*Hide ConvertKit Branding*/
/*.formkit-powered-by {*/
/*    display: none !important;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*    body {*/
/*        background-color: #222;*/
/*    }*/
/**/
/*    body {*/
/*        color: #ddd;*/
/*    }*/
/**/
/*    .item-list > li {*/
/*        background-color: #333;*/
/*    }*/
/**/
/*    header {*/
/*        background-color: #000;*/
/*    }*/
/*}*/

@media(max-width: 900px) {
    .content .audioPlayer {
        width: 400px;
        height: 80px;
    }

    .content .videoPlayer {
        width: 400px;
        height: 225px;
    }
}

@media(max-width: 600px) {
    .wrapper {
        padding: 40px 20px;
    }
    
    nav {
        margin-top: 80px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }

    h2.blockquote {
        width: 70%;
    }
    
    .content {
        margin: 0px 0px 40px 0px;
    }
    
    .tagSection {
        margin: 0px 0px 40px 0px;
    }
    
    .content .audioPlayer {
        width: 300px;
        height: 60px;
    }

    .content .videoPlayer {
        width: 300px;
        height: 169px;
    }
}
